.popupPage {
  height: 100%;
  width: 100%;
  background-color: rgba(150, 150, 150, 0.5);
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.popupBox {
  width: 70%;
  height: 200pt;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  padding: 15pt;
  top: calc(50% - 100pt);
  left: 15%;
  border-radius: 10pt;
}

.popupTitle {
  text-align: center;
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
  margin-bottom: 10pt;
}

.calendarAddPopup {
  position: relative;
  top: calc(50% - 90pt);
  left: 8%;
  display: none;
}

.calendarAddPopup > div {
  width: 84%;
  height: 30pt;
  text-align: center;
  display: flex;
  border-style: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
}

.calendarAddPopup > div > * {
  height: 100%;
}

.calendarAddPopup > div:not(:last-child):not(:nth-child(2)) {
  border-bottom: 1pt solid #ddd;
}

.calendarAddPopup input:first-child {
  width: 70%;
  padding-left: 10pt;
}

.calendarAddPopup input:nth-child(2) {
  width: 30%;
  text-align: right;
  padding-right: 10pt;
}

.calendarAddPopup button {
  width: 50%;
  padding: 0;
  background-color: white;
  border: none;
}

.calendarAddPopup button:first-child {
  border-right: 1pt solid #ddd;
}

.availrow {
  height: 30pt;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 27pt;
  padding-left: 7pt;
  padding-right: 7pt;
}

.availitem {
  display: flex;
  align-items: center;
  width: 50%;
}

.circle {
  height: 20pt;
  margin-right: 5pt;
  margin-left: 5pt;
  display: none;
}

.untoggled {
  color: lightgray;
}

.description {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.circle.untoggled {
  display: inline;
}

.circle.unavailable {
  display: inline;
}

.circle.unavailable.untoggled {
  display: none;
}
